@import url("https://fonts.googleapis.com/css?family=Karla|Rubik&display=swap");

// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import "~bulma-extensions/bulma-timeline/dist/css/bulma-timeline";
@import "~bulma-extensions/bulma-steps/dist/css/bulma-steps";
@import "~bulma-helpers/bulma-helpers";

//Color palette
$color1: #f6b3e5;
$color2: #c876ff;
$color3: #7232f2;
$color4: #20115b;
$color5: #010108;

// Set your colors
$primary: #6d488e;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Set your brand colors
$purple: #6d488e;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
        "white": (
                $white,
                $black
        ),
        "black": (
                $black,
                $white
        ),
        "light": (
                $light,
                $light-invert
        ),
        "dark": (
                $dark,
                $dark-invert
        ),
        "primary": (
                $primary,
                $primary-invert
        ),
        "info": (
                $info,
                $info-invert
        ),
        "success": (
                $success,
                $success-invert
        ),
        "warning": (
                $warning,
                $warning-invert
        ),
        "danger": (
                $danger,
                $danger-invert
        ),
        "twitter": (
                $twitter,
                $twitter-invert
        )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
